h1 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-family: 'Lato', sans-serif;
}

.form-inline {
    margin-left: 450px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f6dcd7;
}

th {
    background-color: #e9b8ac;
    color: white;
}

.aturtabel {
    overflow-x: auto;
}